#!/bin/bash

export BASEDIR="$(dirname $( cd "$( dirname "${BASH_SOURCE[0]}" )" >/dev/null 2>&1 && pwd ))"
echo $BASEDIR

{
	unset SWFFT_DIR
	dirname $(find $HOME/ -name "TestDfft.o") >/dev/null 2>&1 &&
		SWFFT_DIR=$(dirname $(dirname $(find $HOME/ -name "TestDfft.o")))
} || {
	printf "Failed to find SWFFT directory:\nPlease make sure it is built under ~/ or else specify the directory manually by running \"export SWFFT_DIR=<directory>\"."
}

{
	unset GSL_DIR
	dirname $(find /usr/ -name "libgsl.a") >/dev/null 2>&1 &&
		GSL_DIR=$(find /usr/ -name "libgsl.a")
} || {
	printf "Failed to find GSL archive file:\nPlease make sure it is built  or else specify the directory manually by running \"export GSL_DIR=<directory>\". This is only needed if compiling with the -DGSL flag.\n"
}

echo $SWFFT_DIR
export SWFFT_DIR

echo $GSL_DIR
export GSL_DIR

unset GIO_DIR
export GIO_DIR=$HOME/src/genericio
echo $GIO_DIR

export FFTW_MAJOR_VERSION=3
export FFTW3_DIR=$(dirname $(which fftw-wisdom))


export PYTHONPATH=$GIO_DIR/python:$PYTHONPATH

export SPECC_PLATFORM="roomba"
